.verticalText {}

@font-face {
    font-family: teko;
    src: url(../../../font/Teko-SemiBold.ttf);
}

#tekoFont {
    font-family: teko;
}

@media only screen and (min-width: 768px) {
    .verticalText {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
}